<?xml version="1.0" ?>
<model>
  <name>lab_interior</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Lab Digital Twin Team</name>
    <email>robot@lab.local</email>
  </author>

  <description>
    Статическая 3D-модель интерьера лаборатории робототехники.
    Меш экспортирован из Blender в формате COLLADA (.dae).
  </description>
</model>
